<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Add Form</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" type="text/css">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
           integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">-->
</head>
<body class="p-3 mb-2 bg-dark text-white">
<div th:replace="fragments/top_bar.html :: div.top-bar"></div>
<div th:replace="fragments/scripts.html :: div.scripts-top-bar"></div>

<hr>
<div class="container">
    <h2>Employee Form</h2>
    <div class="form-group">
        <form action="#" th:action="@{/save}" th:object="${employee}" method="post">
            <input type="hidden" th:field="*{id}">

            <p class="text-danger mb-10" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"/>
            <input type="text" class="form-control" th:field="*{firstName}" placeholder="First Name"><br>

            <p class="text-danger mb-10" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"/>
            <input type="text" class="form-control" th:field="*{lastName}" placeholder="Last Name"><br>

            <p class="text-danger mb-10" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"/>
            <input type="text" class="form-control" th:field="*{address}" placeholder="Adress"><br>

            <p class="text-danger mb-10" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"/>
            <input type="text" class="form-control" th:field="*{city}" placeholder="City"><br>

            <p class="text-danger mb-10" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"/>
            <input type="text" class="form-control" th:field="*{age}" placeholder="Age"><br>

            <p class="text-danger mb-10" th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}"/>
            <input type="text" class="form-control" th:field="*{salary}" placeholder="Salary"><br>

            <p class="text-danger mb-10" th:if="${#fields.hasErrors('startJobDate')}" th:errors="*{startJobDate}"/>
            <input type="date" class="form-control" th:field="*{startJobDate}" placeholder="Start Job Date"><br>

            <p class="text-danger mb-10" th:if="${#fields.hasErrors('benefit')}" th:errors="*{benefit}"/>
            <input type="text" class="form-control" th:field="*{benefit}" placeholder="Benefit"><br>

            <p class="text-danger mb-10" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"/>
            <input type="text" class="form-control" th:field="*{email}" placeholder="Email"><br>

            <input type="submit" th:value="Save" class="btn btn-danger">
        </form>
        <hr>
    </div>
</div>
</body>
</html>